body{
    margin: 0;
    padding: 0;
}

.content{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.header .header-menu {
   /* background-color: aqua; */
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;   
}

.header-menu .menu-list {
   list-style: none;
   padding:0;
   margin: 0;
}

.header-menu .menu-item {
    padding-right: 124px;
    display: inline-block;
}

.menu-item .menu-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.menu-item .menu-link:hover{
    color: #f53981;

}
.menu-item:last-child{
    padding-right: 0;
}

.header-img .image{
    width: 100%;
}

.main{
    width: 1145px;
    margin: 0 auto;
    /* background: rgb(255, 154, 159); */
    margin-bottom: 25px;
}

.main .main-title{
    /* background-color: aqua; */
    text-align: center;
    margin:35px 0 35px 0;
}

.main .main-title .title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 27px;
line-height: 27px;
margin:0; 
}

.main .main-text1{
    /* background-color: rgb(104, 130, 299); */
    text-align: center;
    margin: 0 0 35px 0;
}

.main .main-text1 .text1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin:0;
}

.main .main-text2 {
    /* background-color: blue; */
    text-align: center;
    margin: 0 0 30px 0;
}

.main .main-text2 .text2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0;
}

.button{
    text-align: center;
} 

.button .main-button{
    background: #FF0000;
    border-radius: 10px;
    display: inline-block;
    padding: 18px 42px;  
}

.button .main-button:hover{
    background: #f53939;
}


.button .button-link{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    padding: 0;  
}
 
.footer{
    width: 1145px;
    margin: 0 auto;
    /* background: rgb(18, 182, 168); */   
}

.footer .copyright{
    text-align: right;
    margin: 0 38px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}